Source: phosh-osk-stevia
Section: x11
Priority: optional
Maintainer: Guido Günther <agx@sigxcpu.org>
Build-Depends:
 debhelper-compat (= 13),
 dbus-x11 <!nocheck>,
 gi-docgen <!nodoc>,
 gobject-introspection <!nodoc>,
 gsettings-desktop-schemas-dev (>= 47),
 hunspell-en-us <!nocheck>,
 json-glib-tools,
 libfeedback-dev,
 libgirepository1.0-dev <!nodoc>,
 libgmobile-dev,
 libgnome-desktop-3-dev,
 libgtk-3-dev,
 libhandy-1-dev (>= 1.1.90),
 libhunspell-dev,
 libjson-glib-dev,
 libpresage-dev,
 libsystemd-dev,
 libuim-dev,
 libwayland-dev,
 libxml2-utils,
 meson,
 phoc <!nocheck>,
 presage <!nocheck>,
 python3-docutils <!nodoc>,
 systemd-dev,
 uim <!nocheck>,
 uim-anthy <!nocheck>,
 xauth <!nocheck>,
 xvfb <!nocheck>,
Standards-Version: 4.7.2
Homepage: https://gitlab.gnome.org/World/Phosh/stevia/
Rules-Requires-Root: no

Package: phosh-osk-stevia
Architecture: any
Recommends:
 fonts-noto-core,
 hunspell-en-us,
 phosh-osk-data-eu,
Depends:
 gsettings-desktop-schemas (>= 47),
 ${misc:Depends},
 ${shlibs:Depends},
Replaces:
 phosh-osk-stub (<< 0.48~),
Breaks:
 libgtk-3-0 (<< 3.24.35),
 phosh-osk-stub (<< 0.48~),
Description: On screen keyboard for Phosh
 Stevia is an on screen keyboard (OSK) for Phosh. It features
 .
  * Character popovers
  * Emoji layout
  * Cursor navigation via space-bar long-press
  * Word correction and completion via hunspell or presage
  * Special layouts for pin, digit and phone number input purpose
  * A customizable shortcut bar in the terminal layout
  * Paste buttons in the completion bar and menu
  * Experimental input of Indic languages using govarnam
  * Experimental input of Chinese and Japanese using uim
 .
 If you're looking for flexible layouts customization look at squeekboard.

Package: phosh-osk-stevia-uim
Architecture: any
Depends:
 fonts-noto-ui-core,
 uim-anthy,
 uim-data,
 uim-pinyin,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 fonts-noto-cjk-extra,
Description: Universal Input Method support for stevia
 Stevia is an on screen keyboard (OSK) for Phosh. It features
 .
  * Character popovers
  * Emoji layout
  * Cursor navigation via space-bar long-press
  * Word correction and completion via hunspell or presage
  * Special layouts for pin, digit and phone number input purpose
  * A customizable shortcut bar in the terminal layout
  * Paste buttons in the completion bar and menu
  * Experimental input of Indic languages using govarnam
  * Experimental input of Chinese and Japanese using uim
 .
 This package contains the necessary files and dependencies to allow
 Asian scripts using uim for e.g. Japanese and Chinese input.

Package: phosh-osk-stevia-doc
Architecture: all
Section: doc
Build-Profiles: <!nodoc>
Depends:
 ${misc:Depends},
Provides:
 phosh-osk-stub-doc (= 0.47),
Replaces:
 phosh-osk-stub-doc (<< 0.48~),
Breaks:
 phosh-osk-stub-doc (<< 0.48~),
Description: API documentation for Phosh's OSK stub
 Stevia is an on screen keyboard (OSK) for Phosh. It features
 .
  * Character popovers
  * Emoji layout
  * Cursor navigation via space-bar long-press
  * Word correction and completion via hunspell or presage
  * Special layouts for pin, digit and phone number input purpose
  * A customizable shortcut bar in the terminal layout
  * Paste buttons in the completion bar and menu
  * Experimental input of Indic languages using govarnam
  * Experimental input of Chinese and Japanese using uim
 .
 This package contains the development documentation.
