#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

CONFIGURE_OPTS=-Ddefault_osk=false

ifeq ($(filter nodoc,$(DEB_BUILD_PROFILES)),)
  CONFIGURE_OPTS+=-Dgtk_doc=true -Dman=true
else
  CONFIGURE_OPTS+=-Dgtk_doc=false -Dman=false
endif

PACKAGES := $(shell dh_listpackages)
ifneq (,$(filter phosh-osk-stevia-uim,$(PACKAGES)))
CONFIGURE_OPTS += -Duim=enabled
else
CONFIGURE_OPTS += -Duim=disabled
endif

%:
	dh $@ --builddirectory=_build

override_dh_auto_configure:
	dh_auto_configure -- $(CONFIGURE_OPTS)

override_dh_auto_test:
ifeq ($(filter nocheck,$(DEB_BUILD_OPTIONS)),)
	XDG_RUNTIME_DIR=$(CURDIR) HOME=. LC_ALL=C.UTF-8 xvfb-run -a meson test -C _build --print-errorlogs
endif
